::-webkit-scrollbar-thumb {
  color: #ed1c24;
  background: #ed1c24;
}

.service-header__menu {
  background-color: #e8e6d9;
}

.service-header__menu-item {
  color: #000;
}

.service-header__menu-item::after {
  background-color: #ed1c24; 
}

.service-header__contacts-email {
  color: #ed1c24;
}

/* .service-name {
  background-image: url("../images/english/bg.png");
} */

.service-name {
  background-color: #63416c;
}

.service-name button {
  background-color: #ed1c24;
}

.service-person {
  background-color: #fff;
  background-image: none;
  color: #000;
}

.service-achievements__pagination-item--active {
  background-color: #ed1c24;
}

.service-description {
  background-color: #00a3c6;
  background-image: linear-gradient(to right, #174567 0%, #00a3c6 100%);
  color: #fff;
}

.service-portfolio__gallery-item:hover::before {
  background-color: #63416c;
}

.service-program button.navigation-button {
  background-color: #ed1c24;
}

.service-program__pagination--dark .service-program__pagination-item--active {
  background-color: #ed1c24;
}

.service-reviews {
  background-color: #62406b;
  color: #fff;
}

.service-reviews__item {
  color: #000;
}

.service-reviews button.navigation-button {
  background-color: #ed1c24;
}

.service-reviews__pagination-item--active {
  background-color: #ed1c24;
}

.service-order__item button:hover {
  background-color: #ed1c24;
}

.service-order__item--active {
  border: 2px solid #ed1c24;
}

.service-order button.navigation-button {
  background-color: #ed1c24;
}

.service-feedback {
  background-color: #623657;
  background-image: linear-gradient(to right, #39062a 0%, #623657 100%);
}

.service-team button {
  background-color: #ed1c24;
}

.service-team__pagination--dark .service-team__pagination-item--active,
.service-order__pagination--dark .service-order__pagination-item--active {
  background-color: #ed1c24;
}

.service-map__header {
  background-color: #edebe2;
  color: #000;
}

.service-footer {
  background-color: #fff;
}

.service-footer__subscribe-form::before {
  color: #28282c;
}

.subscribe-form__submit {
  background-image: url("../images/english/button_subscribe.png");
}

.service-popup {
  background-color: #62406b;
  color: #fff;
}

.service-cooperation__form label {
  color: #fff;
}

.back-to-top--visible:hover::before {
  background-color: #029cbf;
}

.service-ordering__tab--active {
  border-bottom: 3px solid #926aa3;
}

.service-ordering__gender input[type="radio"]:checked + label[for="service-ordering__male"]::before {
  background-image: url("../../images/icons/male_violet.png");
}

.service-ordering__gender input[type="radio"]:checked + label[for="service-ordering__female"]::before {
  background-image: url("../../images/icons/female_violet.png");
}

.service-ordering .jq-selectbox.focused {
  border-color: #926aa3;
}

.service-ordering__intercom input[type="radio"]:checked + label::before {
  background-color: #926aa3;
  border: 2px solid #926aa3;
}

.service-ordering__checkbox input[type="checkbox"]:checked + label::before {
  background-color: #926aa3;
  border: 1px solid #926aa3;
}

.service-ordering__upload-file label::before {
  background-image: url("../../images/icons/upload_file_violet.png");
}

.service-ordering__upload-file label {
  color: #926aa3;
}

.service-ordering input[type="submit"] {
  background-color: #ed1c24;
  border: 1px solid #ed1c24;
  color: #fff;
}

.service-ordering__personal-data input[type="checkbox"]:checked + label::before {
  background-color: #926aa3;
  border: 1px solid #926aa3;
}

.service-ordering__personal-data a {
  color: #926aa3;
}

@media screen and (max-width: 1243px) {

  /* Service header */

  .service-header__menu {
    background-color: #1c1c1c;
  }

  .service-header__menu-item {
    color: #fff;
  }

  .service-header__menu-item::after {
    background-color: #7546cb;
  }

  .service-header__menu-button--close {
    background-image: url("../../images/icons/menu_close_white.png");
  }

}

@media screen and (max-width: 767px) {

  .service-order__item {
    border: 2px solid #ed1c24;
  }

  .service-order__item button {
    background-color: #ed1c24;
  }

}