@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_100-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_100-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosanscyrl_300-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl700';
  src: url('../fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl900';
  src: url('../fonts/museosanscyrl_900-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_900-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'museo_sans_cyrl500', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #000;
}

section {
  clear: both;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'museo_sans_cyrl900';
  font-size: 60px;
  line-height: 60px;
}

h2 {
  font-family: 'museo_sans_cyrl300';
  font-size: 50px;
  line-height: 50px;
}

h3 {
  font-family: 'museo_sans_cyrl300';
  font-size: 30px;
  line-height: 30px;
}

h4 {
  font-family: 'museo_sans_cyrl700';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  outline: none;
}

a[href^=tel] {
  text-decoration: none;
  color: #000;
}

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.br {
  display: block;
}

.inline-link {
  color: #f9b500;
}

.button {
  display: block;
  min-width: 328px;
  height: 60px;
  font-family: 'museo_sans_cyrl700';
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
}

button[disabled="disabled"] {
  opacity: 0.5;
  cursor: default;
}

.navigation-button {
  position: absolute;
  top: 36%;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.navigation-button::before {
  position: absolute;
  top: 10px;
  left: 12px;
  content: "";
  display: block;
  width: 11px;
  height: 18px;
  background-image: url("../images/icons/button_arrow.png");
}

.navigation-button--back {
  left: 0;
}

.navigation-button--forward {
  right: 0;
}

.navigation-button--forward::before {
  top: 12px;
  left: 15px;
  transform: rotate(180deg);
}

::-webkit-scrollbar {
  width: 4px;
  padding-right: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

/* Service header */

.container--header {
  width: 1240px;
}

.service-header {
  position: relative;
  /* overflow: hidden; */
  min-height: 130px;
  background-color: #fff;
}

/* .service-header--open {
  overflow: visible;
} */

.service-header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  /* left: calc(50% - 960px); */
  content: "";
  /* width: 1920px; */
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to top, #e2e2e2 0%, #d6d6d6 100%);
}

/* .service-header--open::after {
  width: 100%;
  left: 0;
} */

.service-header__menu-button {
  position: absolute;
  top: 57px;
  left: 50px;
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 15px;
  background-image: url("../images/icons/menu.png");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: left 0.5s ease-out;
}

.service-header__menu-button--close {
  left: 370px;
  height: 19px;
  background-image: url("../images/icons/menu_close.png");
}

.service-header__menu {
  position: absolute;
  top: 0;
  left: -320px;
  /* display: block; */
  display: table;
  width: 320px;
  height: 800px;
  /* padding-top: 267px; */
  padding-left: 83px;
  transition: all 0.5s ease-out;
  z-index: 2;
  /* max-width: 600px;
  margin-top: 52px; */
}

.service-header__menu--open {
  left: 0;
}

.service-header__menu ul {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* .service-header__menu ul {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 450px;
} */

.service-header__menu li {
  display: block;
  margin-bottom: 35px;
  /* display: inline-block;
  vertical-align: top;
  margin-right: 20px; */
}

.service-header__menu li:last-child {
  margin-bottom: 0;
}

.service-header__menu-item {
  position: relative;
  font-family: 'museo_sans_cyrl700';
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.service-header__menu-item::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  /* bottom: -57px; */
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  /* background-color: #ed1c24; */
  opacity: 0;
  transition: all 0.5s ease-out;
  z-index: 1;
} 

.service-header__menu-item:hover::after,
.service-header__menu-item--active::after {
  opacity: 1;
}

.service-header__logo/* ,
.service-header__menu */ {
  float: left;
}

.service-header__contacts {
  float: right;
}

.service-header__logo {
  width: 213px;
  height: 53px;
  margin-top: 39px;
  margin-left: 93px;
  margin-right: 142px;
  transition: all 0.5s ease-out;
}

/* .service-header__logo--open {
  margin-left: 413px;
} */

.service-header__logo a {
  display: inline-block;
}

.service-header__logo img {
  display: block;
  width: auto;
  max-width: 213px;
  height: auto;
  max-height: 53px;
}

.service-header__contacts {
  margin-top: 48px;
  margin-right: 25px;
}

.service-header__contacts-phone {
  font-family: 'museo_sans_cyrl900';
  font-size: 30px;
}

.service-header__contacts p:first-child > a {
  text-decoration: none;
  color: #000;
}

.service-header__contacts p:last-child {
  text-align: right;
}

.service-header__contacts-email {
  position: relative;
  top: -8px;
  right: 3px;
  font-size: 12px;
  line-height: 21px;
}

/* Service name */

.service-name {
  position: relative;
  min-height: 670px;
  text-align: center;
  padding-top: 134px;
  padding-bottom: 115px;
  background-position: 50% top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.service-name h1 {
  margin-bottom: 27px;
}

.service-name h1 > span {
  font-family: 'museo_sans_cyrl300';
  font-size: 30px;
  line-height: 36px;
  padding-top: 18px;
  color: white;
}

.service-name p {
  margin-bottom: 27px;
}

.service-name p.service-name__price {
  font-family: 'museo_sans_cyrl300';
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 73px;
}

.service-name button {
  margin-top: 73px;
}

/* Service person & company */

.service-person,
.service-company {
  overflow: hidden;
  min-height: 822px;
  padding-top: 59px;
  padding-bottom: 45px;
}

.service-company {
  min-height: 560px;
}

.service-person h2,
.service-company h2 {
  margin-bottom: 64px;
}

.service-company h2 {
  margin-bottom: 43px;
}

.service-person h3,
.service-company h3 {
  line-height: 36px;
  text-align: left;
  margin-bottom: 26px;
}

.service-company h3 {
  text-align: center;
  margin-bottom: 71px;
}

.service-person h4,
.service-company h4 {
  text-align: left;
}

.service-company h4 {
  text-align: center;
  margin-bottom: 10px;
}

.service-person p,
.service-company p {
  margin-bottom: 26px;
}

.service-person__photo,
.service-person__about {
  float: left;
}

.service-person__photo {
  width: 530px;
  text-align: center;
  margin-left: 5px;
  margin-right: 65px;
  border-radius: 50%;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.service-person__photo img {
  display: block;
  /* width: auto;
  max-width: 530px;
  height: auto;
  max-height: 530px; */
  width: 530px;
  height: 530px;
  border-radius: 50%;
}

.service-person__about,
.service-company__about {
  font-family: 'museo_sans_cyrl300';
  width: 580px;
  padding-top: 70px;
  margin-bottom: 29px;
}

.service-company__about {
  width: 100%;
  padding-top: 0;
}

.service-person__about ul,
.service-company__about ul {
  /* list-style-type: disc; */
  list-style-type: none;
  margin-bottom: 24px;
  padding-left: 18px;
}

.service-company__about ul {
  /* list-style-type: none; */
  text-align: center;
  margin-bottom: 16px;
}

.service-person__about li > span,
.service-company__about li > span {
  position: relative;
}

.service-person__about li > span::before,
.service-company__about li > span::before {
  position: absolute;
  top: 9px;
  left: -12px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.service-company__about li > span::before {
  background-color: #000;
}

.service-person__social,
.service-company__social {
  padding-top: 29px;
}

.service-person__social ul,
.service-company__social ul {
  padding-left: 0;
}

.service-person__social li,
.service-company__social li {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.service-person__social-item,
.service-company__social-item {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
}

.service-person__social-item--fb,
.service-company__social-item--fb {
  background-image: url("../images/icons/fb.png");
}

.service-person__social-item--vk,
.service-company__social-item--vk {
  background-image: url("../images/icons/vk.png");
}

.service-person__social-item--ig,
.service-company__social-item--ig {
  background-image: url("../images/icons/ig.png");
}

.service-person__social-item--yt,
.service-company__social-item--yt {
  background-image: url("../images/icons/yt.png");
}

.service-person__social-item--gp,
.service-company__social-item--gp {
  background-image: url("../images/icons/gp.png");
}

.service-person__social-item--tg,
.service-company__social-item--tg {
  background-image: url("../images/icons/tg.png");
}

/* Service achievements */

.service-achievements {
  min-height: 379px;
  padding-top: 46px;
  padding-bottom: 35px;
  text-align: center;
  background-color: #edebe2;
}

.service-achievements h3 {
  margin-bottom: 44px;
}

.service-achievements li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 20px;
}

.service-achievements li:last-child {
  margin-right: 0;
}

.service-achievements img {
  display: block;
  width: auto;
  /* max-width: 280px;
  height: auto; */
  height: 198px;
}

/* Service description */

.service-description {
  min-height: 470px;
  text-align: center;
  padding-top: 81px;
  padding-bottom: 13px; 
}

.service-description--company {
  padding-bottom: 0;
}

.service-description h3 {
  margin-bottom: 17px;
}

.service-description p {
  margin-bottom: 29px;
}

.service-description--company p {
  margin-bottom: 48px;
}

.service-description li {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  margin-right: 126px;
  margin-bottom: 20px;
}

.service-description--company li {
  width: 200px;
  margin-right: 95px;
}

.service-description li:nth-child(4n+4),
.service-description li:last-child {
  margin-right: 0;
}

.service-description__image {
  display: table-cell;
  vertical-align: middle;
  width: 170px;
  height: 135px;
}

.service-description--company .service-description__image {
  width: 200px;
}

.service-description__image img {
  display: block;
  width: auto;
  height: auto;
  max-height: 135px;
  margin: 0 auto;
}

.service-description__text {
  font-size: 15px;
  line-height: 20px;
  padding-top: 34px;
}

.service-description--company .service-description__text {
  font-family: 'museo_sans_cyrl900';
  font-size: 18px;
}

/* Service portfolio */

.container--portfolio {
  width: 1920px;
}

.service-portfolio {
  overflow: hidden;
  position: relative;
  min-height: 760px;
  padding-top: 46px;
}

.service-portfolio h3 {
  margin-bottom: 44px;
}

.service-portfolio__gallery {
  overflow: hidden; 
  position: relative;
  /* position: absolute;
  left: calc(50% - 960px);
  bottom: 0;
  width: 1920px; */
}

.service-portfolio__gallery-item {
  float: left; 
  position: relative;
  /* display: table; */
  /* display: inline-block;
  vertical-align: top; */
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.service-portfolio__gallery-item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* pointer-events: none; */
  transition: all 0.3s ease-out; 
}

.service-portfolio__gallery-item:hover::before {
  opacity: 0.9;
}

.service-portfolio__gallery-item--big {
  width: 640px;
  height: 640px;
}

.service-portfolio__gallery-item a {
  display: block;
}

.service-portfolio__gallery-item img {
  display: block;
  width: 320px;
  height: 320px;
}

.service-portfolio__gallery-item--big img {
  width: 640px;
  height: 640px;
}

.service-portfolio__gallery-description {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0; 
  /* bottom: 0; */
  left: 0;
  width: 100%;
  /* width: 320px;
  height: 320px;  */
  max-height: 285px;
  text-align: center;
  padding: 0 20px;
  padding-top: 185px; 
  /* padding-bottom: 63px; */
  color: #fff;
  /* pointer-events: none; */
  opacity: 0;
  /* transition: all 1s ease-out;  */
}

.service-portfolio__gallery-description--big {
  /* width: 640px;
  height: 640px; */
  max-height: 550px;
  padding: 0 68px;
  padding-top: 377px; 
  /* padding-bottom: 165px; */
}

.service-portfolio__gallery-item:hover .service-portfolio__gallery-description {
  display: block;
  opacity: 1;
}

.service-portfolio__gallery-description h4 {
  position: relative;
  font-family: 'museo_sans_cyrl900';
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
}

.service-portfolio__gallery-description h4::before {
  position: absolute;
  top: -41px;
  left: calc(50% - 20px);
  content: "";
  display: block;
  width: 40px;
  height: 25px;
  background-image: url("../images/webstudio/eye_small.png");
}

.service-portfolio__gallery-description--big h4::before {
  top: -82px;
  left: calc(50% - 40px);
  content: "";
  display: block;
  width: 80px;
  height: 50px;
  background-image: url("../images/webstudio/eye_big.png");
}

.service-portfolio__gallery-description p {
  /* overflow: hidden;
  max-height: 75px; */
  font-size: 14px;
  line-height: 24px;
}

.service-portfolio__gallery-description--big p {
  /* max-height: 145px; */
  font-size: 18px;
}

/* Service program */

.service-program {
  position: relative;
  padding-top: 69px;
}

.service-program h2 {
  margin-bottom: 16px;
}

.service-program__item {
  display: none;
  width: 580px;
  text-align: center;
  margin: 0 auto;
}

.service-program__item h3 {
  line-height: 34px;
  margin-bottom: 53px;
}

.service-program__item h4 {
  font-family: 'museo_sans_cyrl900';
  padding-top: 29px;
}

.service-program__item--active {
  display: block;
}

.service-program__item-image {
  display: table-cell;
  vertical-align: top;
  width: 580px;
  height: 135px;
  text-align: center;
}

.service-program__item-image img {
  width: auto;
  height: auto;
  max-height: 135px;
}

.service-program__item ul,
.service-program__item p {
  margin-bottom: 30px;
}

.service-program__item li > span {
  position: relative;
}

.service-program__item li > span:before {
  position: absolute;
  top: 9px;
  left: -12px;
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}

.service-program p.service-program__price {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 64px;
}

.service-program__price span.br {
  display: inline;
}

.service-program button {
  background-color: #ed1c24;
  margin-bottom: 63px;
}

.service-program .service-order__contacts {
  position: relative;
  top: -42px;
}

.service-program--company .navigation-button {
  top: 24%;
}

/* Service reviews */

.service-reviews {
  padding-top: 48px;
  padding-bottom: 34px;
}

.service-reviews h3 {
  margin-bottom: 36px;
}

.service-reviews__block {
  display: none;
  width: 968px;
  margin: 0 auto;
  margin-bottom: 43px;
  border-spacing: 24px 0;
}

.service-reviews__block--with-photo {
  width: 1088px;
}

.service-reviews__block--active {
  display: table;
}

.service-reviews__item {
  display: table-cell;
  width: 448px;
  font-size: 15px;
  text-align: left;
  margin-right: 20px;
  padding: 40px 80px;
  padding-bottom: 80px;
  background-color: white;
  border-radius: 8px;
}

.service-reviews__item--with-photo {
  padding: 30px 25px;
  padding-right: 85px;
  padding-bottom: 39px;
}

.service-reviews__photo {
  float: left;
}

.service-reviews__photo img {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.service-reviews__item--with-photo article {
  margin-left: 115px;
  padding-top: 7px;
}

.service-reviews__header {
  margin-bottom: 8px;
  /* margin-left: 115px; */
  /* padding-top: 10px; */
}

.service-reviews__item--with-photo .service-reviews__header {
  margin-left: 115px;
  margin-bottom: 0;
  padding-top: 10px;
}

.service-reviews__item time {
  color: #999;
}

.service-reviews__item h3 {
  font-family: 'museo_sans_cyrl900';
  display: inline;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  margin-right: 8px;
}

.service-reviews__item p {
  line-height: 21px;
  margin-bottom: 10px;
}

.service-reviews__item p:last-child {
  margin-bottom: 0;
}

.service-reviews__pagination ul {
  text-align: center;
}

.service-reviews__pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.service-reviews__pagination li:last-child {
  margin-right: 0;
}

.service-reviews__pagination-item {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.service-reviews button.navigation-button {
  top: 46%;
}

/* Service order */

.service-order {
  padding-top: 52px;
  padding-bottom: 109px;
}

.service-order--company {
  padding-bottom: 54px;
}

.service-order h2 {
  margin-bottom: 51px;
}

.service-order ul {
  display: table;
  width: 877px;
  margin: 0 auto;
  margin-bottom: 53px;
  border-spacing: 25px 0;
}

.service-order--company ul {
  width: 100%;
  margin-bottom: 32px;
}

.service-order__item {
  position: relative;
  display: table-cell;
  width: 260px;
  padding-top: 63px;
  /* padding-bottom: 20px; */
  padding-bottom: 68px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #aeb8bc;
  border-radius: 8px;
}

.service-order--company .service-order__item {
  padding-top: 29px;
  padding-bottom: 88px;
}

.service-order__item--active {
  padding-top: 62px;
  padding-bottom: 19px;
  /* padding-left: 19px;
  padding-right: 19px; */
}

.service-order--company .service-order__item--active {
  padding-top: 28px;
  padding-bottom: 87px;
}

.service-order__item h4 {
  font-family: 'museo_sans_cyrl900';
  margin-bottom: 24px;
}

.service-order--company .service-order__item h4 {
  margin-bottom: 29px;
}

.service-order__item h4 > span {
  font-family: 'museo_sans_cyrl500';
  font-size: 14px;
  line-height: 14px;
  padding-top: 5px;
}

.service-order--company .service-order__item h4 > span {
  font-family: 'museo_sans_cyrl300';
  line-height: 24px;
  padding-top: 26px;
}

.service-order__price {
  font-family: 'museo_sans_cyrl300';
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 62px;
  color: #f9b500;
}

.service-order--company .service-order__price {
  margin-bottom: 43px;
}

.service-order__item button {
  position: absolute;
  left: calc(50% - 114px);
  bottom: 20px;
  width: 228px;
  min-width: 228px;
  line-height: 18px;
  padding: 0 30px;
  color: #aeb8bc;
  border: 1px solid #aeb8bc;
  box-shadow: none;
  transition: all 0.5s ease-out;
}

.service-order--company .service-order__item button {
  bottom: 40px;
}

.service-order__item button:hover {
  color: #fff;
  border: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
}

.service-order__contacts {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.service-order__contacts:last-child {
  margin-bottom: 0;
}

.service-order__contacts > span {
  font-family: 'museo_sans_cyrl900';
}

.service-order .navigation-button {
  display: none;
}

/* Service feedback */

.service-feedback {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 49px;
}

.container--feedback {
  width: 1340px;
}

.service-feedback__offer,
.service-feedback__form {
  float: left;
}

.service-feedback__offer {
  position: relative;
  width: 539px;
  margin-right: 144px;
  padding-top: 115px;
  padding-left: 81px;
  padding-bottom: 124px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 36%;
  border-bottom-right-radius: 36%;
  background-color: #fff;
}

.service-feedback__offer::after {
  position: absolute;
  top: 0;
  right: -25px;
  content: "";
  display: block;
  width: 431px;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  z-index: 0;
}

.service-feedback__offer h3 {
  position: relative;
  max-width: 400px;
  text-align: left;
  margin-bottom: 17px;
  z-index: 1;
}

.service-feedback__offer > p {
  position: relative;
  max-width: 400px;
  margin-bottom: 20px;
  z-index: 1;
}

.service-feedback__offer > p strong {
  font-family: 'museo_sans_cyrl900';
  text-transform: uppercase;
}

.service-feedback__offer-counter {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-left: 8px; 
}

.service-feedback__offer-counter strong {
  position: relative;
  font-size: 45px;
  line-height: 45px;
}

.offer-counter__hours,
.offer-counter__minutes,
.offer-counter__seconds {
  font-family: 'museo_sans_cyrl900';
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 73px;
  letter-spacing: 18px;
  z-index: 1;
}

.offer-counter__hours::before,
.offer-counter__minutes::before,
.offer-counter__seconds::before {
  position: absolute;
  top: -9px;
  left: -6px;
  content: "";
  display: block;
  width: 40px;
  height: 60px;
  background-color: #f9b500;
  border-radius: 4px;
  z-index: -1; 
}

.offer-counter__hours::after,
.offer-counter__minutes::after,
.offer-counter__seconds::after {
  position: absolute;
  top: -9px;
  left: 39px;
  content: "";
  display: block;
  width: 40px;
  height: 60px;
  background-color: #f9b500;
  border-radius: 4px;
  z-index: -1; 
}

.offer-counter__hours,
.offer-counter__minutes {
  margin-right: 5px;
}

.offer-counter__separator {
  font-family: 'museo_sans_cyrl900';
  margin-left: -7px;
  margin-right: 5px;
  z-index: 1;
} 

.offer-counter__text {
  position: absolute;
  top: 56px;
  left: 14px;
  font-family: 'museo_sans_cyrl300';
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
}

.offer-counter__content {
  position: absolute;
  top: 8px;
  right: -92px;
  width: 70px;
  font-family: 'museo_sans_cyrl300';
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
}

.service-feedback__form {
  width: 580px;
  padding-top: 19px;
  color: #fff;
}

.service-feedback__form-block {
  display: inline-block; 
  vertical-align: top;
  width: 280px;
  margin-right: 15px;
}

.service-feedback__form-block:last-of-type {
  margin-right: 0;
}

.service-feedback__form h3 {
  text-align: left;
  margin-bottom: 16px;
}

.service-feedback__form h3 > span {
  position: relative;
  /* top: -5px; */
  font-size: 15px;
  line-height: 18px;
}

.service-feedback__form label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}

.service-feedback__form input {
  width: 580px;
  height: 42px;
  font-family: 'museo_sans_cyrl500', sans-serif;
  font-size: 14px;
  line-height: 42px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  color: black;
  border: none;
}

.service-feedback__form-block input {
  width: 280px;
}

.service-feedback__form input:focus {
  outline: none;
}

.service-feedback__form input[type="submit"] {
  width: auto;
  min-width: 328px;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  padding: 0 30px;
  background-color: #ed1c24;
  color: #fff;
  -webkit-appearance: none;
}

/* Service team */

.service-team {
  text-align: center;
  padding-top: 65px;
  /* padding-bottom: 54px; */
  padding-bottom: 2px;
}

.service-team h2 {
  margin-bottom: 61px;
}

.service-team button {
  /* margin-top: 50px;
  margin-bottom: 15px; */
  margin-top: 3px;
  margin-bottom: 66px;
}

.service-team__item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 65px;
  margin-bottom: 52px;
}

.service-team__item:last-child {
  margin-right: 0;
}

.service-team__item-image {
  margin-bottom: 28px;
}

.service-team__item-image img {
  width: auto;
  max-width: 190px;
  height: auto;
  max-height: 190px;
}

.service-team__item-content h4  {
  font-family: 'museo_sans_cyrl900';
  font-size: 20px;
  margin-bottom: 11px;
}

.service-team__item-content h4 > span,
.service-team__item-content p {
  font-size: 15px;
  line-height: 21px;
}

.service-team__item-content p {
  margin-bottom: 10px;
}

.service-team__pagination,
.service-order__pagination,
.service-portfolio__pagination,
.service-program__pagination,
.service-achievements__pagination {
  display: none;
} 

.service-team__pagination ul,
.service-order__pagination ul,
.service-portfolio__pagination ul,
.service-program__pagination ul,
.service-achievements__pagination ul {
  text-align: center;
}

.service-team__pagination li,
.service-order__pagination li,
.service-portfolio__pagination li,
.service-program__pagination li,
.service-achievements__pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.service-team__pagination li:last-child,
.service-order__pagination li:last-child,
.service-portfolio__pagination li:last-child,
.service-program__pagination li:last-child,
.service-achievements__pagination li:last-child {
  margin-right: 0;
}

.service-team__pagination-item,
.service-order__pagination-item,
.service-portfolio__pagination-item,
.service-program__pagination-item,
.service-achievements__pagination-item {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.service-team__pagination--dark .service-team__pagination-item,
.service-order__pagination--dark .service-order__pagination-item,
.service-portfolio__pagination--dark .service-portfolio__pagination-item,
.service-program__pagination--dark .service-program__pagination-item {
  background-color: #c9c9c9;
}

/* Service map */

.service-map {
  height: auto;
}

.service-map__header {
  position: relative;
  text-align: center;
  padding-top: 46px;
  padding-bottom: 46px;
}

.service-map__header::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background-image: linear-gradient(to bottom, #c3c3c3 0%, #f7f7f7 100%);
  z-index: 1;
}

.service-map__header h2 {
  margin-bottom: 22px;
}

.service-map__header p {
  margin-bottom: 10px;
}

.service-map__header p:last-child {
  margin-bottom: 0;
}

.service-map__map {
  width: 100%;
  height: 548px;
}

/* .service-map iframe {
  width: 100%;
  height: 548px;
} */

/* Service footer */

.service-footer {
  overflow: hidden;
  position: relative;
  font-size: 13px;
  line-height: 25px;
  padding-top: 52px;
  padding-bottom: 32px;
  color: #666;
}

.service-footer a {
  text-decoration: none;
  color: #666;
}

.service-footer a:hover {
  color: #ccc;
}

.service-footer__block {
  float: left;
  margin-right: 151px;
}

.service-footer__block--right {
  float: right;
  margin-right: 0;
}

.service-footer__social ul {
  text-align: right;
  margin-bottom: 57px;
  padding-top: 9px;
}

.service-footer__social li {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 17px;
}

.service-footer__social li:last-child {
  margin-right: 0;
}

.service-footer__social-item {
  position: relative;
  display: block;
}

.service-footer__social-item--vk {
  top: 2px;
  left: 0;
  width: 25px;
  height: 15px;
  background-image: url("../images/icons/vk_grey.png");
}

.service-footer__social-item--fb {
  top: 0;
  left: 2px;
  width: 9px;
  height: 20px;
  background-image: url("../images/icons/fb_grey.png");
}

.service-footer__social-item--tw {
  top: 1px;
  left: 4px;
  width: 25px;
  height: 18px;
  background-image: url("../images/icons/tw_grey.png");
}

.service-footer__social-item--lj {
  top: -1px;
  left: 1px;
  width: 18px;
  height: 20px;
  background-image: url("../images/icons/lj_grey.png");
}

.service-footer__social-item--hh {
  top: 0;
  left: 3px;
  width: 15px;
  height: 19px;
  background-image: url("../images/icons/hh_grey.png");
}

.service-footer__social-item--gp {
  top: 1px;
  left: 2px;
  width: 26px;
  height: 17px;
  background-image: url("../images/icons/gp_grey.png");
}

.service-footer__subscribe-form {
  position: relative;
  text-align: right;
  margin-bottom: 27px;
}

.service-footer__subscribe-form::before {
  position: absolute;
  top: -28px;
  left: 28px;
  content: "Оформить подписку";
  display: block;
  font-size: 13px;
  text-transform: uppercase;
}

.service-footer__subscribe-form::after {
  position: absolute;
  top: 6px;
  right: 40px;
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ccc;
}

/* .service-footer__subscribe-form label {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-transform: uppercase;
  padding-right: 66px;
  color: white;
} */

.subscribe-form__email {
  width: 220px;
  height: 42px;
  font-family: 'museo_sans_cyrl300';
  font-size: 13px;
  line-height: 42px;
  padding-left: 12px;
  padding-right: 52px;
  background-color: transparent;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subscribe-form__email:focus {
  outline: none;
}

.subscribe-form__submit {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.service-footer__copyrights {
  position: relative;
  color: #ccc;
}

.service-footer__copyrights::before {
  position: absolute;
  top: 5px;
  left: -46px;
  content: "";
  display: block;
  width: 30px;
  height: 15px;
  background-image: url("../images/icons/logo_pokupo.png");
}

.service-footer__copyrights a {
  text-decoration: underline;
  color: #ccc;
}

/* Back-to-top button */

.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: block;
  width: 55px;
  height: 55px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  outline: none;
  opacity: 0;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.back-to-top::after {
  position: fixed;
  right: 50px;
  bottom: 50px;
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background-image: url("../images/icons/back-to-top_arrow.png");
  background-repeat: no-repeat;
  background-position: 19px 21px;
  background-color: #efece7;
  border-radius: 50%;
  z-index: 10;
}

.back-to-top--visible {
  opacity: 1;
}

.back-to-top--visible:hover::before {
  position: fixed;
  right: 77px;
  bottom: 58px;
  content: "Наверх";
  display: block;
  width: 114px;
  height: 39px;
  font-family: 'museo_sans_cyrl900';
  font-size: 14px;
  line-height: 39px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 45px;
  color: white;
  border-radius: 1px;
  z-index: 9;
}

/* Service overlay */

.service-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 100;
}

.service-overlay--active {
  display: block;
}

/* Service popup */

.service-popup {
  position: fixed;
  top: 10%;
  left: calc(50% - 440px);
  display: none;
  width: 881px;
  text-align: center;
  padding-top: 77px;
  padding-bottom: 40px;
  border-radius: 8px;
  z-index: 101;
}

.service-popup--active {
  display: block;
}

.service-popup h3 {
  margin-bottom: 10px;
}

.service-popup p {
  font-size: 15px;
  line-height: 20px;
}

.service-cooperation__form {
  width: 580px;
  margin: 0 auto;
  padding-top: 36px;
  color: #000;
}

.service-cooperation__form-block {
  display: inline-block; 
  vertical-align: top;
  width: 280px;
  margin-right: 15px;
}

.service-cooperation__form-block:last-of-type {
  margin-right: 0;
}

.service-cooperation__form label {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 6px;
}

.service-cooperation__form input {
  font-family: 'museo_sans_cyrl500', sans-serif;
  width: 580px;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;
  color: black;
  border: none;
}

.service-cooperation__form-block input {
  width: 280px;
}

.service-cooperation__form input:focus {
  outline: none;
}

.service-cooperation__form input[type="submit"] {
  width: 328px;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  background-color: #ed1c24;
  color: #fff;
  -webkit-appearance: none;
}

.close-button {
  position: absolute;
  top: 19px;
  right: 21px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/button_close.png");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Page popup */

.page-popup {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 137px;
  padding-bottom: 50px;
  background-color: #fff;
  z-index: 101;
}

.page-popup--active {
  display: block;
}

.page-popup h4 {
  font-family: 'museo_sans_cyrl900';
  margin-bottom: 10px;
}

.page-popup p {
  font-family: 'museo_sans_cyrl300';
  margin-bottom: 10px;
}

.page-popup img {
  display: block;
  width: auto;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 42px;
}

.return-button {
  position: absolute;
  top: -90px;
  right: 0;
  content: "";
  display: block;
  width: 30px;
  height: 27px;
  background-color: transparent;
  background-image: url("../images/icons/return_arrow.png");
  border: none;
  outline: none;
  cursor: pointer;
}


@media screen and (max-width: 1915px) {

  .service-header__logo--open {
    margin-left: 413px;
  }

}

@media screen and (max-width: 1919px) {

  .container--portfolio {
    width: 1600px;
  }

}

@media screen and (max-width: 1599px) {

  .container--portfolio {
    width: 1280px;
  }

}

@media screen and (max-width: 1243px) {

  .container {
    width: 708px;
    margin: 0 auto;
  }

  /* Service header */

  .service-header__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .container--header {
    width: 708px;
    margin: 0 auto;
  }

  .service-header__menu {
    transition: none;
  }

  .service-header__menu-button {
    position: static;
    float: left;
    margin-top: 57px;
    margin-left: 27px;
    transition: none;
  }

  .service-header__menu-button--close {
    position: absolute;
    top: 0;
    left: 924px;
    z-index: 3;
  }

  .service-header__menu--open {
    width: 100%; 
    height: 1024px;
    text-align: center;
    padding-left: 0;
  }

  .service-header__menu li {
    margin-bottom: 46px;
  }

  .service-header__menu-item {
    font-size: 20px;
  }

  .service-header__logo {
    margin-left: 30px;
  }

  .service-header__contacts {
    margin-right: 0;
  }

  /* Service name */

  .service-name {
    padding-bottom: 95px;
  }

  .service-name h1 {
    margin-bottom: 38px;
  }

  .service-name h1 > span {
    padding-top: 30px;
  }

  .service-name p span.br {
    display: inline;
  }

  .service-name p.service-name__price {
    margin-bottom: 58px;
  }

  .service-name button {
    margin-top: 58px;
  }

  /* Service person & company */

  .service-person, 
  .service-company {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  .service-company {
    padding-top: 60px;
  }

  .service-person h2, 
  .service-company h2 {
    margin-bottom: 30px;
    /* padding-top: 35px; */
  }

  .service-person h3, 
  .service-company h3 {
    margin-bottom: 23px;
  }

  .service-person h3 span.br, 
  .service-company h3 span.br {
    display: inline;
  }

  .service-person h3, 
  .service-company h3,
  .service-person h4, 
  .service-company h4 {
    text-align: center;
  }

  .service-company h3 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 51px;
  }

  .service-person__photo, 
  .service-person__about {
    float: none;
  }

  .service-person__photo {
    width: 264px;
    margin: 0 auto;
  }

  .service-person__photo img {
    max-width: 264px;
    max-height: 264px;
  }

  .service-person__about, 
  .service-company__about {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-top: 35px;
    padding-left: 65px;
    padding-right: 65px; 
  }

  .service-company__about {
    padding-top: 14px;
  }

  .service-person__about ul, 
  .service-company__about ul {
    /* width: 578px;
    margin: 0 auto;
    margin-bottom: 16px; */
    padding-left: 0;
  }

  .service-company__about ul {
    margin-bottom: 44px;
  }

  /* .service-person p, 
  .service-company p {
    width: 578px;
    margin: 0 auto;
    margin-bottom: 26px;
  } */

  .service-person__social, 
  .service-company__social {
    padding-top: 0;
  }

  /* Service achievements */
  
  .service-achievements {
    padding-bottom: 40px;
  }

  /* Service description */

  .service-description {
    padding-bottom: 32px;
  }

  .service-description--company {
    padding-bottom: 7px;
  }

  .service-description li {
    margin-right: 4px;
  }

  .service-description__image {
    height: 117px;
    padding-top: 20px;
  }

  .service-description__image img {
    width: 65px;
    max-height: 117px;
  }

  .service-description__text {
    padding-top: 10px;
  }

  .service-description--company li {
    width: 138px;
    margin-right: 37px;
  }

  .service-description--company p {
    margin-bottom: 43px;
  }

  .service-description--company .service-description__text {
    font-size: 15px;
    line-height: 18px;
  }

  /* Service portfolio */

  .service-portfolio h3 {
    margin-bottom: 24px;
  }

  .service-portfolio__gallery {
    text-align: center;
  }

  .service-portfolio__gallery-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    /* margin-right: 10px;
    margin-bottom: 10px; */
  }

  .service-portfolio__gallery-item--9 {
    display: none;
  }

  /* .service-portfolio__gallery-item:nth-child(2n+2) {
    margin-right: 0;
  } */

  .service-portfolio__gallery-item--big,
  .service-portfolio__gallery-item--big img {
    width: 320px;
    height: 320px;
  }

  .service-portfolio__gallery-description--big h4::before {
    top: -41px;
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background-image: url(../images/webstudio/eye_small.png);
  }

  .service-portfolio__gallery-description--big {
    max-height: 285px;
    padding: 0 20px;
    padding-top: 185px;
  }

  .service-portfolio__gallery-description--big p {
    font-size: 14px;
  }

  /* Service program */

  .service-program__item ul, 
  .service-program__item p {
    margin-bottom: 25px;
  }

  .service-program p.service-program__price {
    margin-bottom: 57px;
  }

  /* Service reviews */

  .service-reviews__block {
    width: 708px;
  }

  .service-reviews__item {
    display: block;
    width: 509px;
    margin: 0 auto;
  }

  .service-reviews__item--with-photo {
    /* width: 509px; */
    padding-bottom: 78px;
  }

  .service-reviews__block--active > .service-reviews__item:last-child {
    display: none;
  }

  /* Service order */

  .service-order {
    padding-bottom: 89px;
  }

  .service-order--company {
    padding-bottom: 33px;
  }

  .service-order ul {
    width: 310px;
  }

  .service-order--company ul {
    width: 409px;
  }

  .service-order__item {
    display: none;
  }

  .service-order__item--visible {
    display: table-cell;
  }

  .service-order__item--active {
    padding-bottom: 67px;
  }

  .service-order__item h4 {
    margin-bottom: 32px;
  }

  .service-order__price {
    margin-bottom: 68px;
  }

  .service-order .navigation-button {
    top: 44%;
    display: block;
  }

  /* Service feedback */

  .service-feedback {
    padding-top: 10px;
    padding-bottom: 17px;
  }

  .service-feedback__offer {
    float: none;
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-top: 21px;
    padding-left: 0;
    padding-bottom: 60px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 50%;
  }

  .service-feedback__offer::after {
    display: none;
  }

  .service-feedback__offer h3,
  .service-feedback__offer > p {
    max-width: 100%;
    text-align: center;
  }

  .service-feedback__offer h3 {
    margin-bottom: 8px;
  }

  .service-feedback__offer > p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .service-feedback__offer > p span.br {
    display: inline;
  }

  .service-feedback__offer-counter {
    width: 300px;
    margin: 0 auto;
    padding-top: 25px;
  }

  .service-feedback__form {
    float: none;
    margin: 0 auto;
    padding-top: 27px;
  }

  .service-feedback__form h3 {
    text-align: center;
    margin-bottom: 27px;
  }

  /* Service team */

  .service-team {
    padding-top: 45px;
  }

  .service-team h2 {
    margin-bottom: 43px;
  }

  .service-team__item {
    margin-right: 65px;
  }

  /* .service-team--company .service-team__item {
    margin-right: 65px;
  } */

  .service-team__item:nth-child(2n+2) {
    margin-right: 0;
  }

  /* .service-team--company .service-team__item:nth-child(3n+3) {
    margin-right: 0;
  } */

  /* .service-team--company button {
    position: relative;
    top: -50px;
  } */

  /* Service footer */

  .service-footer__block:nth-child(2) {
    margin-right: 100px;
  }

  /* Back-to-top button */

  .back-to-top {
    display: none;
  }

  /* Service popup */

  .service-popup {
    left: calc(50% - 354px);
    width: 708px;
  }

  /* Page popup */

  .page-popup img {
    max-width: 708px;
  }

}

@media screen and (max-width: 767px) {

  .container {
    width: 280px;
    margin: 0 auto;
  }

  .button {
    min-width: 268px;
  }

  h2 {
    font-size: 30px;
    line-height: 36px;
  }

  .navigation-button {
    display: none;
  }

  /* Service header */

  .service-header {
    min-height: 70px;
  }

  .service-header__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .container--header {
    width: 280px;
    margin: 0 auto;
  }

  .service-header__menu--open {
    height: 602px;
  }

  .service-header__menu li {
    margin-bottom: 35px;
  }

  .service-header__menu-item {
    font-size: 17px;
  }

  .service-header__menu-button {
    margin-top: 27px;
    margin-left: 20px;
  }

  .service-header__menu-button--close {
    top: -2px;
    left: calc(50% - 162px);
  }

  .service-header__logo {
    width: 129px;
    height: 33px;
    margin-top: 20px;
    margin-left: 56px;
    margin-right: 0;
  }

  .service-header__logo img {
    max-width: 129px;
    max-height: 33px;
  }

  .service-header__contacts {
    margin-top: 24px;
  }

  .service-header__contacts-phone {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../images/icons/phone.png");
    font-size: 0;
  }

  .service-header__contacts p:last-child {
    display: none;
  }

  /* Service name */

  .service-name {
    min-height: 628px;
    padding-top: 58px;
    padding-bottom: 70px;
  }

  .service-name--company {
    min-height: 552px;
  }

  .service-name h1 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 18px;
  }

  .service-name h1 > span {
    padding-top: 4px;
  }

  .service-name p {
    margin-bottom: 18px;
  }

  .service-name p.service-name__price {
    margin-bottom: 16px;
  }

  .service-name button {
    margin-top: 16px;
  }

  /* Service person & company */

  .service-person, 
  .service-company {
    padding-top: 52px;
    padding-bottom: 12px;
  }

  .service-company {
    padding-top: 33px;
    padding-bottom: 3px;
  }

  .service-person h2, 
  .service-company h2 {
    margin-bottom: 32px;
  }

  .service-company h2 {
    margin-bottom: 6px;
  }

  .service-company h3 {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .service-person h3 span.br, 
  .service-company h3 span.br {
    display: block;
  }

  .service-person__about, 
  .service-company__about {
    padding-left: 0;
    padding-right: 0;
  }

  .service-company__about ul {
    margin-bottom: 30px;
  }

  .service-person__social, 
  .service-company__social {
    padding-top: 8px;
  }

  /* Service achievements */

  .service-achievements {
    padding-bottom: 6px;
  }

  .service-achievements h3 {
    margin-bottom: 31px;
  }

  .service-achievements li.service-achievements__item {
    display: none;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .service-achievements li.service-achievements__item--1,
  .service-achievements li.service-achievements__item--active {
    display: block;
  }

  .service-achievements img {
    margin: 0 auto;
  }

  .service-achievements__pagination {
    display: block;
  }

  /* Service description */

  .service-description {
    padding-top: 36px;
    padding-bottom: 48px;
  }

  .service-description li,
  .service-description__image {
    width: 130px;
  }

  .service-description li:nth-child(n) {
    margin-right: 8px;
  }

  .service-description li:nth-child(2n+2), 
  .service-description li:last-child {
    margin-right: 0;
  }

  .service-description--company li {
    margin-bottom: 15px;
  }

  .service-description__image {
    height: 112px;
    padding-top: 0;
  }

  .service-description__text {
    padding-top: 0;
  }

  .service-description ul p {
    margin-bottom: 0;
  }

  /* Service portfolio */

  .container--portfolio {
    width: 320px;
  }

  .service-portfolio {
    min-height: 498px;
    padding-top: 36px;
  }

  .service-portfolio h3 {
    margin-bottom: 28px;
  }

  .service-portfolio__gallery {
    margin-bottom: 30px;
  }

  .service-portfolio__gallery-item {
    display: none;
  }

  .service-portfolio__gallery-item--1,
  .service-portfolio__gallery-item--2 {
    display: block;
  }

  .service-portfolio__pagination {
    display: block;
  }

  /* Service program */

  .service-program {
    padding-top: 51px;
  }

  .service-program--company {
    padding-top: 25px;
  }

  .service-program h2 {
    font-family: 'museo_sans_cyrl900';
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 36px;
  }

  .service-program--company h2 {
    font-family: 'museo_sans_cyrl300';
    font-size: 35px;
    line-height: 36px;
    margin-bottom: 27px;
  }

  .service-program__item {
    width: 280px;
  }

  .service-program--company .service-program__item h3 {
    margin-bottom: 36px;
  }

  .service-program--company .service-program__item h4 {
    padding-top: 41px;
  }

  .service-program--company .service-program__item ul {
    margin-bottom: 34px;
  }

  .service-program p.service-program__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  .service-program__price span.br {
    display: block;
  }

  .service-program__pagination {
    display: block;
    margin-bottom: 14px;
  }

  .service-program button {
    margin-bottom: 40px;
  }

  .service-program--company .service-order__contacts {
    top: 0;
    margin-bottom: 55px;
  }

  /* Service reviews */

  .service-reviews__block,
  .service-reviews__item {
    width: 280px;
  }

  .service-reviews__block {
    border-spacing: 0;
    margin-bottom: 40px;
  }

  .service-reviews__block--active > .service-reviews__item:last-child {
    /* display: block;
    margin-bottom: 0; */
    display: none;
  }

  .service-reviews__item {
    /* margin-bottom: 20px; */
    padding: 29px 19px;
    padding-bottom: 27px;
  }

  .service-reviews--company .service-reviews__item {
    padding: 20px 19px;
    padding-bottom: 37px;
  }

  /* .service-reviews__item--with-photo .service-reviews__photo {
    float: none;
  } */

  .service-reviews__item--with-photo header {
    position: absolute;
    top: -73px;
    right: 0;
    width: 132px;
  }

  .service-reviews__item--with-photo time {
    display: block;
  }

  .service-reviews__item--with-photo article {
    clear: both;
    position: relative;
    margin-left: 0;
    padding-top: 25px;
  }

  .service-reviews__pagination-item {
    cursor: pointer;
  }

  /* Service order */

  .service-order {
    padding-top: 33px;
    padding-bottom: 13px;
  }

  .service-order h2 {
    margin-bottom: 22px;
  }

  .service-order ul {
    width: 280px;
    border-spacing: 0;
    margin-bottom: 39px;
  }

  .service-order__item {
    width: 280px;
    padding-top: 61px;
  }

  .service-order__item button {
    color: #fff;
    border: none;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
  }

  .service-order__pagination {
    display: block;
  }

  .service-order__pagination ul {
    margin-bottom: 18px;
  }

  .service-order__pagination li {
    margin-right: 8px;
  }

  .service-order__contacts {
    font-size: 20px;
    line-height: 24px;
  }

  .service-order .navigation-button {
    display: none;
  }

  /* Service feedback */

  .container--feedback {
    width: 320px;
    padding-bottom: 20px;
  }

  .service-feedback__offer {
    /* text-align: left; */
    text-align: center;
    padding-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
  }

  .service-feedback__offer > p {
    width: 280px;
    margin: 0 auto;
  }

  .service-feedback__offer > p strong {
    display: block;
  }

  .service-feedback__offer-counter {
    /* padding-left: 10px; */
    padding-left: 0;
    /* margin-left: 10px; */
  }

  .offer-counter__content {
    position: static;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .service-feedback__form,
  .service-feedback__form input {
    width: 280px;
  }

  .service-feedback__form input[type="submit"] {
    min-width: 280px;
  }

  /* Service team */

  .service-team {
    padding-top: 32px;
    padding-bottom: 27px;
  }

  .service-team--company {
    padding-bottom: 0;
  }

  .service-team h2 {
    margin-bottom: 31px;
  }

  .service-team__item {
    display: none;
    width: 280px;
    margin-right: 0;
    margin-bottom: 33px;
  }

  .service-team--company .service-team__item {
    margin-bottom: 24px;
  }

  .service-team__item--1 {
    display: block;
  }

  .service-team__pagination {
    display: block;
  }

  .service-team--company button {
    top: -36px;
    margin-top: 14px;
    margin-bottom: 50px;
  }

  /* Service map */

  .service-map__header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-map__header h2 {
    margin-bottom: 13px;
  }

  .service-map__map {
    height: 531px;
  }

  /* Service footer */

  .service-footer {
    padding-top: 16px;
  }

  .service-footer__block {
    display: none;
  }

  .service-footer__block--right {
    float: none;
    display: block;
  }

  .service-footer__social ul,
  .service-footer__subscribe-form {
    text-align: center;
  }

  .service-footer__social ul {
    margin-bottom: 57px;
  }

  .service-footer__subscribe-form::before {
    left: 30px;
  }

  .service-footer__subscribe-form::after {
    right: 71px;
  } 

  /* .service-footer__subscribe-form label {
    margin-bottom: 2px;
  } */

  .subscribe-form__submit {
    right: 32px;
  } 

  .service-footer__copyrights {
    text-align: right;
  }

  .service-footer__copyrights::before {
    left: -7px;
  }

  /* Service popup */

  .service-popup {
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    border-radius: 0;
  }

  .container--service-popup {
    position: relative;
    width: 280px;
    margin: 0 auto;
  }

  /* .service-popup {
    left: calc(50% - 354px);
    width: 708px;
  } */

  .service-cooperation__form,
  .service-cooperation__form input {
    width: 280px;
  }

  .service-cooperation__form {
    padding-top: 16px;
  }

  .service-cooperation__form input[type="submit"] {
    width: 268px;
  }

  .close-button {
    top: -50px;
    right: 0px;
    width: 19px;
    height: 19px;
    background-image: url("../images/icons/menu_close_white.png");
  }

  /* Page popup */

  .page-popup {
    padding-top: 70px;
  }

  .page-popup img {
    position: relative;
    left: -10px;
    max-width: 300px;
    margin-top: 24px;
    margin-bottom: 33px;
  }

  .return-button {
    top: -52px;
  }

}