@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_100-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_100-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosanscyrl_300-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl700';
  src: url('../fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl900';
  src: url('../fonts/museosanscyrl_900-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_900-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'museo_sans_cyrl500', sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #000;
}

section {
  clear: both;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: 'museo_sans_cyrl900';
  font-size: 60px;
  line-height: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* body {
  overflow-x: hidden;
  max-width: 1890px;
  font-family: 'museo_sans_cyrl500', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding: 0;
  color: #000;
}

h2 {
  font-family: 'museo_sans_cyrl500';
  font-size: 30px;
  font-weight: 300;
}

a {
  outline: none;
}

a[href^=tel] {
  text-decoration: none;
  color: #000;
}

strong > a {
  text-decoration: none;
  color: #000;
  cursor: default;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    color: #f9b500;
    background: #f9b500;
}

.nowrap {
  white-space: nowrap;
}

.error, 
.success {
  margin: 10px;
} */

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.br {
  display: block;
}

.inline-link {
  color: #f9b500;
}

/* Service header */

.container--header {
  width: 1240px;
}

.service-header {
  position: relative;
  overflow: hidden;
  min-height: 130px;
  background-color: #fff;
}

.service-header::after {
  position: absolute;
  bottom: 0;
  left: calc(50% - 960px);
  content: "";
  width: 1920px;
  height: 3px;
  background-image: linear-gradient(to top, #e2e2e2 0%, #d6d6d6 100%);
}

.service-header__logo,
.service-header__menu {
  float: left;
}

.service-header__contacts {
  float: right;
}

.service-header__logo {
  width: 213px;
  height: 53px;
  margin-right: 142px;
  padding-top: 39px;
}

.service-header__logo img {
  width: auto;
  max-width: 213px;
  height: auto;
  max-height: 53px;
}

.service-header__menu {
  max-width: 600px;
  padding-top: 52px;
}

.service-header__menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.service-header__menu-item {
  position: relative;
  font-family: 'museo_sans_cyrl700';
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.service-header__menu-item:hover::after,
.service-header__menu-item--active::after {
  position: absolute;
  left: 0;
  bottom: -57px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ed1c24;
  z-index: 1;
}

.service-header__contacts {
  margin-right: 25px;
  padding-top: 48px;
}

.service-header__contacts-phone {
  font-family: 'museo_sans_cyrl900';
  font-size: 30px;
}

.service-header__contacts p:last-child {
  text-align: right;
}

.service-header__contacts-email {
  position: relative;
  top: -8px;
  right: 3px;
  font-size: 12px;
  line-height: 21px;
  color: #f9b500;
}

/* Service name */

.service-name {
  min-height: 670px;
  text-align: center;
  padding-top: 134px;
  background-image: url("../images/maths/bg.png");
  background-position: 50% top;
  background-repeat: no-repeat;
  color: #fff;
}

.service-name h1 > span {
  font-family: 'museo_sans_cyrl300';
  font-size: 30px;
  padding-top: 18px;
  color: white;
}


/* Feedback */

.container--feedback {
  width: 1340px;
}